body {
    background-color: violet;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: auto;
    margin: 0;
    flex-direction: column;
}
h1 {
    color: blue;
    font-style: italic;
    font-family: fantasy;
    text-align: center;
}
h2 {
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}
h3 {
    color: green;
    font-size: bold;
    
}
p {
    font-size: larger;
    font-weight: bold;
     
}
h4 {
    color: red; 
}
